<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%level{length=1}] %c{1.} - %m%n"/>
        </Console>
        <RollingFile name="ROLLING" fileName="logs/chorus-server.log"
                     filePattern="logs/chorus-server_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%level{length=1}] %c{1.} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="5120 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="TableAudit" fileName="logs/audit/table-audit.log"
                     filePattern="logs/audit/table-audit_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%level{length=1}] %c{1.} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        <RollingFile name="SpringXDMonitoring" fileName="logs/monitor/xd-sync-monitoring.log"
                     filePattern="logs/monitor/xd-sync-monitoring_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] [%level{length=1}] %c{1.} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="org.springframework" level="info" additivity="false"></logger>
        <logger name="org.apache.zookeeper" level="info" additivity="false"></logger>
        <logger name="org.apache.http" level="info" additivity="false"></logger>
        <logger name="table-operations-audit" level="info" additivity="false">
            <AppenderRef ref="TableAudit"/>
        </logger>
        <logger name="cn.rongcapital.chorus.monitor.springxd" level="info" additivity="false">
            <AppenderRef ref="SpringXDMonitoring"/>
        </logger>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ROLLING"/>
        </Root>
    </Loggers>
</Configuration>
