<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.chorus.das.dao.EnvironmentInfoDOMapper">
    <resultMap id="BaseResultMap" type="cn.rongcapital.chorus.das.entity.EnvironmentInfo">
        <id column="environment_id" property="environmentId" jdbcType="BIGINT"/>
        <result column="environment_name" property="environmentName" jdbcType="VARCHAR"/>
        <result column="environment_version" property="environmentVersion" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status_code" property="statusCode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByInstanceInfoId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    e.environment_id, e.environment_name, e.environment_version, e.create_time, e.update_time,
    e.status_code
    FROM instance_environment_mapping m
    INNER JOIN environment_info e on e.environment_id = m.environment_id
    WHERE m.instance_id = #{instanceId,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        e.environment_id, e.environment_name, e.environment_version, e.create_time, e.update_time,
        e.status_code
        FROM environment_info e
    </select>
</mapper>