<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.chorus.das.dao.HostInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.rongcapital.chorus.das.entity.HostInfo" >
    <id column="host_id" property="hostId" jdbcType="BIGINT" />
    <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    <result column="cpu" property="cpu" jdbcType="INTEGER" />
    <result column="memory" property="memory" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    host_id, host_name, cpu, memory, create_time, update_time, status_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from host_info
    where host_id = #{hostId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from host_info
    where host_id = #{hostId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.rongcapital.chorus.das.entity.HostInfo" >
    insert into host_info (host_id, host_name, cpu, 
      memory, create_time, update_time, 
      status_code)
    values (#{hostId,jdbcType=BIGINT}, #{hostName,jdbcType=VARCHAR}, #{cpu,jdbcType=INTEGER}, 
      #{memory,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{statusCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.rongcapital.chorus.das.entity.HostInfo" >
    insert into host_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="hostName != null" >
        host_name,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="memory != null" >
        memory,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="statusCode != null" >
        status_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hostId != null" >
        #{hostId,jdbcType=BIGINT},
      </if>
      <if test="hostName != null" >
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCode != null" >
        #{statusCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rongcapital.chorus.das.entity.HostInfo" >
    update host_info
    <set >
      <if test="hostName != null" >
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        memory = #{memory,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCode != null" >
        status_code = #{statusCode,jdbcType=VARCHAR},
      </if>
    </set>
    where host_id = #{hostId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rongcapital.chorus.das.entity.HostInfo" >
    update host_info
    set host_name = #{hostName,jdbcType=VARCHAR},
      cpu = #{cpu,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status_code = #{statusCode,jdbcType=VARCHAR}
    where host_id = #{hostId,jdbcType=BIGINT}
  </update>
</mapper>