<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.chorus.das.dao.ResourceUsageMapper" >
  <resultMap id="BaseResultMap" type="cn.rongcapital.chorus.das.entity.ResourceUsage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usage_code" property="usageCode" jdbcType="VARCHAR" />
    <result column="usage_name" property="usageName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usage_code, usage_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource_usage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource_usage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.rongcapital.chorus.das.entity.ResourceUsage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource_usage (usage_code, usage_name)
    values (#{usageCode,jdbcType=VARCHAR}, #{usageName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.rongcapital.chorus.das.entity.ResourceUsage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into resource_usage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usageCode != null" >
        usage_code,
      </if>
      <if test="usageName != null" >
        usage_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usageCode != null" >
        #{usageCode,jdbcType=VARCHAR},
      </if>
      <if test="usageName != null" >
        #{usageName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rongcapital.chorus.das.entity.ResourceUsage" >
    update resource_usage
    <set >
      <if test="usageCode != null" >
        usage_code = #{usageCode,jdbcType=VARCHAR},
      </if>
      <if test="usageName != null" >
        usage_name = #{usageName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rongcapital.chorus.das.entity.ResourceUsage" >
    update resource_usage
    set usage_code = #{usageCode,jdbcType=VARCHAR},
      usage_name = #{usageName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>