<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rongcapital.chorus.das.dao.TUserMapper">
    <resultMap id="BaseResultMap" type="cn.rongcapital.chorus.das.entity.TUser">
        <id column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <insert id="add">
        replace into t_user(user_id,user_name,email)
        values(#{user.userId},
        #{user.userName},
        #{user.email})
    </insert>

    <select id="getUserById" resultMap="BaseResultMap">
        select user_id, user_name,
        email from t_user where user_id = #{userId}
    </select>

    <insert id="replaceBatch">
        replace into t_user(user_id,user_name,email)
        values
        <foreach collection="users" item="user" separator=",">
            (#{user.userId},
            #{user.userName},
            #{user.email})
        </foreach>
    </insert>
</mapper>